<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

  <body>

    <%- include('./partials/header'); %>

      <%- include('./partials/sidebar'); %>

        <main id="main" class="main">

          <div class="pagetitle">
            <h1>Points</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Points</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Award Points</h5>

              <!-- Vertical Form -->
              <form class="row g-3" action="/FBLA/AssignPoints" method="POST">
                <div class="col-12">
                  <label for="eventName" class="form-label">Event Name</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Event selection" id="eventName" name="name" required>
                      <option selected>(Select Event)</option>
                      <% for (let i = 0; i < schoolEvents.length; i++) { %>
                        <option value="<%= schoolEvents[i].name %>"><%= schoolEvents[i].name %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <label for="studentName" class="form-label">Student Name</label>
                  <input type="text" class="form-control" id="studentName" name="studentName" required>
                </div>
                <div class="col-12">
                  <label for="grade" class="form-label">Grade</label>
                  <input type="number" max="12" class="form-control" id="grade" name="grade" required>
                </div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
          
        </main><!-- End #main -->

        <%- include('./partials/footer'); %>

  </body>

</html>