<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

  <body>

    <%- include('./partials/header'); %>

      <%- include('./partials/sidebar'); %>

        <main id="main" class="main">

          <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <!-- Begin event cards  -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Events</h5>

              <!-- Default List group -->
              <ul class="list-group">
                <% for (let i = 0; i < schoolEvents.length; i++) { %>
                  <li class="list-group-item">
                    <div class="card">
                      <div class="card-body">
                        <h1 class="card-title"><%= schoolEvents[i].name %></h1>
                        <h6 class="card-subtitle mb-2 text-muted">Date: <%= schoolEvents[i].date %></h6>
                        <h6 class="card-subtitle mb-2 text-muted">Points: <%= schoolEvents[i].points %></h6>
                        <%= schoolEvents[i].description %>
                        <br><br>
                        <a href="/FBLA/assign-points"><button class="btn btn-primary">Add a Student</button></a>
                      </div>
                    </div>
                  </li>
                  <% if (i > 1) {
                    break;
                  } %>
                <% } %>
              </ul><!-- End Default List group -->
              <a href="/FBLA/events"><button class="btn btn-primary">View All Events</button></a>

            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-primary" type="button" onclick="window.location.href='/FBLA/reports';">Generate Report</button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-primary" type="button" onclick="window.location.href='/FBLA/winner';">Assign Winners</button>
              </div>
            </div>
          </div>
        </main><!-- End #main -->

        <%- include('./partials/footer'); %>

  </body>

</html>