<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

  <body>

    <%- include('./partials/header'); %>

      <%- include('./partials/sidebar'); %>

        <main id="main" class="main">

          <div class="pagetitle">
            <h1>Events</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Events</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th scope="col">Description</th>
                <th scope="col">Points</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < schoolEvents.length; i++) { %>
                <tr>
                  <th scope="row"><%= i + 1 %></th>
                  <td><%= schoolEvents[i].name %></td>
                  <td><%= schoolEvents[i].description %></td>
                  <td><%= schoolEvents[i].points %></td>
                  <td><%= schoolEvents[i].date %></td>
                  <td><button class="btn btn-primary">Edit</button></td>
                  <td><button class="btn btn-primary">Add Student</button></td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <a href="/FBLA/addEvent"><button class="btn btn-primary">Add Event</button></a>
          
        </main><!-- End #main -->

        <%- include('./partials/footer'); %>

  </body>

</html>