<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

  <body>

    <%- include('./partials/header'); %>

      <%- include('./partials/sidebar'); %>

        <main id="main" class="main">

          <div class="pagetitle">
            <h1>Winners</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Winenrs</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <button class="btn btn-warning" id="generateWinnersButton" onclick="showWinnerTable();">Generate Winners</button>

          <table class="table hidden" id="winnerTable">
            <thead>
              <th scope="col">Student Name</th>
              <th scope="col">Reason</th>
              <th scope="col">Points</th>
              <th scope="col">Prize</th>
              <th scope="col">Grade</th>
            </thead>
            <tbody>
              <% for (let i = 0; i < allWinners.length; i++) { %>
                <tr>
                  <th scope="row"><%= allWinners[i].firstName + " " + allWinners[i].lastName %></th>
                  <td><%= allWinners[i].reason %></td>
                  <td><%= allWinners[i].points %></td>
                  <td><%= allWinners[i].prize %></td>
                  <td><%= allWinners[i].grade %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          
        </main><!-- End #main -->

        <%- include('./partials/footer'); %>

  </body>

</html>